// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';



.custom-heading {
    color: blue;
    font-size: 24px;
}

.btn-customary{
    background: #bbd12d;
}

.btn-customary:hover{
    background: red;
}
